:root {
    --cor-escuro: #007775;
    --cor-medio: #fff8dc;
    --cor-claro: #ff8484;
    --cor-branco: #fff;
}

body {
    background: var(--cor-escuro);
}

nav {
    border-bottom: 1px solid #b51630;
    background: #ffffffe8;
}

h3 {
    color: var(--cor-medio);
}

[data-tema] {
    font-weight: 500;
    color: #5f5f5f!important;
}

[data-tema],
span,
.tituloDaTarefa,
.numeroVolta {
    color: var(--cor-claro);
}

#ponto {
    color: #9c9c9c;
}

[data-tema] ul {
    background: #b51630;
    border: 1px solid var(--cor-medio);
}

[data-tema] ul li {
    border-top: 1px solid var(--cor-medio);
    color: var(--cor-branco);
    font-weight: 600;
}

[data-tema] ul li:hover {
    background: var(--cor-medio);
    color: #b51630;
}

[data-tema] span,
.container {
    color: #b51630;
}

.cronometro {
    background: var(--cor-branco);
    border: 1px solid var(--cor-branco);
    box-shadow: 0 0 0 3px var(--cor-escuro), 0 0 0 7px var(--cor-medio);
}

#voltas div,
#salvarTarefa div div {
    border-top: 1px solid var(--cor-medio);
    color: var(--cor-medio);
}

#voltas::-webkit-scrollbar-thumb,
#salvarTarefa::-webkit-scrollbar-thumb {
    background: var(--cor-medio);
}

#voltas::-webkit-scrollbar,
#salvarTarefa::-webkit-scrollbar {
    width: 6px !important;
}

button {
    background: var(--cor-branco) !important;
    color: #b51630;
    border: 1px solid var(--cor-branco);
    box-shadow: 0 0 0 2px var(--cor-escuro), 0 0 0 4px var(--cor-medio);
}

#modal button,
#modalTarefas button {
    color: var(--cor-claro);
    border-color: var(--cor-branco);
    box-shadow: 0 0 0 3px var(--cor-escuro), 0 0 0 5px var(--cor-medio);
}

#containerModal,
#containerModalTarefas {
    background: #1d2027e8;
}

#modal,
#modalTarefas {
    background: var(--cor-escuro);
    box-shadow: 0 0 0 2px var(--cor-medio);
}

#modalTarefas h2,
#modal h2 {
    color: #5f5f5f;
    border: 2px solid var(--cor-claro);
    background: var(--cor-branco);
}

input {
    border: 2px solid var(--cor-claro);
}

input::placeholder {
    color: #ccc;
}

footer {
    color: var(--cor-branco);
    font-weight: 600;
}

footer div a {
    color: var(--cor-medio);
}

footer a span {
    background: url('..//images/logolight.svg') no-repeat center center !important;
    background-size: contain !important;
    filter: invert(1);
}