* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
    padding: 20px 0;
    transition: all .3s linear;
}

h3 {
    letter-spacing: 2px;
    margin-top: 40px;
}

nav {
    display: flex;
    height: 52px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9;
}

[data-tema] span {
    font-size: 15px;
}

[data-tema] {
    right: 0;
    position: absolute;
    line-height: 50px;
    padding: 0 20px;
    font-family: 'Orbitron', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin-right: 20px;
}

[data-tema] ul {
    display: none;
    animation: menu-tema .5s forwards;
    position: absolute;
    border-top: none;
    border-radius: 0 0 3px 3px;
}

@keyframes menu-tema {
    from {
        opacity: 0;
        transform: translate3d(0, -10px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

[data-tema]:hover ul {
    display: block;
}

[data-tema] ul li {
    line-height: 2.3;
    font-size: 14px;
    padding: 0 36px;
}

[data-tema] ul li:hover {
    font-weight: 600;
}

.botao {
    display: flex;
    width: 100%;
    margin-bottom: 60px;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: 'Orbitron', Arial, Helvetica, sans-serif;
    max-width: 550px;
    margin-top: 80px;
}

.cronometro {
    min-width: 510px;
    display: flex;
    justify-content: center;
    letter-spacing: 4px;
    padding: 0 20px;
    border-radius: 20px;
    font-size: 5rem;
    transition: all .3s linear;
}

.botoes {
    display: flex;
    justify-content: space-around;
    margin-bottom: 58px;
}

#ponto {
    background: transparent;
}

#segundos,
#minutos,
#horas {
    min-width: 141px;
    text-align: center;
}

#voltas,
#salvarTarefa {
    font-size: 2.2rem;
    margin-top: 15px;
    text-align: center;
    overflow-y: auto;
    max-height: 30vh;
}

#voltas div,
#salvarTarefa div div {
    padding: 6px 0;
}

#voltas::-webkit-scrollbar,
#salvarTarefa::-webkit-scrollbar {
    width: 8px;
}

#voltas::-webkit-scrollbar-thumb,
#salvarTarefa::-webkit-scrollbar-thumb {
    border-radius: 6px;
}


span {
    font-size: 1.2rem;
}

.botoes button .fa {
    font-size: 3rem;
}

button {
    background: transparent;
    padding: 6px 10px;
    border-radius: 8px;
    transition: all .3s linear;
    cursor: pointer;
}

button:hover {
    transform: scale(1.15);
}

#containerModal,
#containerModalTarefas {
    display: none;
    width: 100%;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2000;
    justify-content: center;
    align-items: center;
}

#modal,
#modalTarefas {
    display: flex;
    padding: 40px 20px;
    border-radius: 4px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
    max-width: 550px;
}

#modalTarefas h2,
#modal h2 {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Verdana', Arial, Helvetica, sans-serif;
    width: 100%;
    margin-bottom: 30px;
    line-height: 1.5;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

#modalTarefas button {
    margin: 10px 6px;
}

#modal button,
#modalTarefas button {
    font-family: 'Orbitron', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
}

input {
    padding: 10px 5px;
    margin-bottom: 40px;
    border-radius: 8px;
    width: 100%;
    font-family: 'Verdana', Arial, Helvetica, sans-serif;
}

input::placeholder {
    font-style: italic;
    font-family: 'Verdana', Arial, Helvetica, sans-serif;
}

.mostrar {
    display: flex !important;
}

.animarModal {
    animation: modal .5s forwards;
}

.tituloDaTarefa {
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 5px 0;
}

.numeroVolta {
    float: left;
    line-height: 44px;
}

footer {
    bottom: 0px;
    margin-top: 60px;
    font-family: 'Orbitron', Arial, Helvetica, sans-serif;
    padding: 0 20px;
    letter-spacing: 2px;
    font-size: .7rem;
    text-align: center;
    display: flex;
    align-items: center;
}

footer div a {
    display: inline-flex;
    text-align: left;
}

footer div {
    flex: 1;
}

footer a span {
    width: 30px;
    background: url('..//images/logodark.svg') no-repeat center center;
    background-size: contain;
    margin: 0 10px 0 5px;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* efeito pulsar no cronômetro: */
@keyframes pulsar {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.97);
    }
}

.pulsar {
    animation: pulsar 1s alternate infinite;
}

.ocultar {
    display: none;
}

@media screen and (max-width: 600px) {

    [data-tema] {
        margin-right: 0;
        padding: 0 15px;
    }

    .botoes button .fa {
        font-size: 1.2rem;
    }

    .cronometro {
        min-width: auto;
        font-size: 2.5rem;
    }

    #segundos,
    #minutos,
    #horas {
        min-width: 75px;
    }

    #voltas,
    #salvarTarefa {
        font-size: 1rem;
    }

    span {
        font-size: 0.8rem;
    }

    .tituloDaTarefa {
        font-size: .8rem;
        letter-spacing: 1px;
    }

    .container {
        max-width: 293px;
    }

    #containerModal button,
    #containerModalTarefas button {
        padding: 6px 8px;
        font-size: 12px;
        margin: 10px 5px 14px 5px;
        transform: scale(1);
    }

    .numeroVolta {
        line-height: 20px;
    }

    footer a::before {
        width: 20px;
        margin-right: 5px;
    }

}